.HeaderBar--root {
  height: 110px;
  background-color: $white;
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  padding-right: 122px;
  padding-left: 122px;
  width: 100%;

  z-index: 289;
  background-color: white;

  .logobox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    .logo_img {
      width: 33.33px;
      height: 36.84px;
      margin-right: 8.75px;
    }

    .logo_text {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      display: inline-block;
      color: $text_dark_one;
    }
  }

  .navs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;

    li {
      margin-right: 42px;
      display: inline-block;

      .nav_icon {
        font-size: 20px;
        margin-top: -8px;
        margin-right: 8px;
      }

      a {
        text-decoration: none;
        color: $text_gray;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;

        &.active {
          color: $text_dark_one;
        }
      }
    }
  }

  .nav_btn {
    display: none;
    position: relative;
  }

  @include Mobile_Custom_Portrait {
    padding-left: 20.45px;
    padding-right: 20.45px;

    .navs {
      display: none;
    }

    .nav_btn {
      display: grid;
      align-items: center;

      .btn {
        padding: 8px 12px;
        box-shadow: none !important;

        &.btn-primary {
          .normal {
            display: block;
          }
          .open {
            display: none;
          }

          &.active {
            .normal {
              display: none;
            }
            .open {
              display: block;
            }
          }
        }
      }

      svg {
        font-size: 16.67px;
      }

      .navs__sm {
        display: block;
        position: fixed;
        width: 100vw;
        background-color: $white;
        z-index: 10;
        left: 0;
        top: 110px;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 1s ease-in-out;

        &.active {
          height: calc(100vh - 110px);
          opacity: 1;
        }

        .nav__box {
          height: 100%;
          display: flex;
          flex-direction: column;

          .links {
            margin-top: 58px;
            padding: 0 20px;
            flex: 1;

            .link {
              margin-top: 34px;
              padding-bottom: 32px;
              color: $dark_one;
              width: 100%;
              display: inline-block;
              border-bottom: 1px solid $dark_gray;

              &:first-child {
                margin-top: 0;
              }

              .nav_icon {
                font-size: 20px;
                margin-right: 9px;
                color: $dark_gray;
              }

              span {
                font-weight: 800;
                font-size: 16px;
                line-height: 20px;
                color: $dark_gray;
              }

              .arrow_right {
                float: right;
                color: $dark_one;
              }

              &.active {
                .nav_icon {
                  color: $dark_one;
                }

                span {
                  color: $dark_one;
                }

                .arrow_right {
                  display: none;
                }
              }
            }
          }

          .footer {
            padding: 0 20px;

            p {
              text-align: center;
              color: $dark_gray;
              font-weight: 500;
              font-size: 12px;
              line-height: 15px;
              margin-bottom: 45px;
            }
          }
        }
      }
    }
  }
}
