.Home--Root {
  .header__call {
    padding: 100px 120px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 65% 35%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 122px);
      height: 100%;
      left: 0;
      bottom: -10px;
      z-index: -1;
      background: url("./../../images2/home_vector.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .left {
      .header__titles {
        .title {
          font-weight: 500;
          font-size: 48px;
          line-height: 58px;
          color: $dark_one;
          margin-bottom: 0;
        }

        .desc {
          margin-top: 16px;
          margin-bottom: 0;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: $dark_gray;
        }
      }

      .form__row {
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .input__group {
          position: relative;
          margin-right: 16px;

          .text__input {
            border: 1px solid $border_one;
            box-sizing: border-box;
            border-radius: 8px;
            min-width: 136px;
            width: 250px;
            padding-top: 21px;
            padding-bottom: 21px;
            padding-left: 60px;
            color: $border_one;

            &:focus,
            &:focus-within {
              outline: none;
            }

            &::placeholder {
              color: $border_one;
              font-weight: 600;
              font-size: 14px;
              line-height: 18px;
            }
          }

          .input__icon {
            position: absolute;
            font-size: 20px;
            color: $border_one;
            top: 21px;
            left: 21px;
          }
        }
      }

      .user__row {
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .users {
          position: relative;
          height: 48px;
          width: 75px;

          img {
            position: absolute;

            &:first-child {
              left: 22px;
            }
          }
        }

        .user__count {
          align-self: center;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          margin-bottom: unset;
          color: $dark_one;

          span {
            color: $blue;
            font-family: "Mont";
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }

    .right {
      height: 500px;
      position: relative;

      img.bg {
        position: absolute;
        height: auto;
        width: 452px;
        bottom: 0;
      }

      img.sm {
        display: none;
      }
    }
  }

  .container__one {
    padding: 80px 122px;
    background-color: $light_gray;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left {
      .heading {
        font-weight: 800;
        font-size: 24px;
        line-height: 31px;
        color: $dark_one;
      }

      .automations__list {
        margin-top: 32px;
        position: relative;

        .list__bar {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin-top: 30px;

          &:first-child {
            margin-top: 0;
          }

          .box__graphic {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            border: 5px solid;
            display: grid;
            place-items: center;
            background-color: $light_gray;
            z-index: 1;

            &.red {
              border-color: $red;
            }
            &.blue {
              border-color: $blue;
            }
            &.yellow {
              border-color: $yellow;
            }

            img.gs {
              width: 28px;
              height: 38px;
            }

            img.leaf {
              width: 48px;
              height: auto;
              margin-top: -7px;
            }
          }

          .box__typhography {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 16px;
            flex: 1;

            .title {
              font-weight: 800;
              font-size: 16px;
              line-height: 20px;
              color: $dark_gray;
            }
            .desc {
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              color: $dark_one;
            }
          }
        }

        .vertical__border {
          position: absolute;
          top: 55px;
          left: 40px;
        }
      }
    }
    .right {
      .heading {
        font-weight: 800;
        font-size: 24px;
        line-height: 31px;
        color: $dark_one;
      }

      .campminder__list {
        margin-top: 32px;

        .list__bar {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin-top: 26px;

          &:first-child {
            margin-top: 0;
          }

          img.icon {
            height: 40px;
            width: 40px;
          }

          .desc {
            margin-left: 10px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $dark_one;
          }
        }
      }

      .current__process {
        margin-top: 40px;
        background-color: $white;
        box-shadow: 0px 4px 12px rgba(66, 68, 81, 0.05);
        border-radius: 12px;
        padding: 32px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        img.light {
          width: 72px;
          height: 72px;
        }

        .process {
          margin-left: 16px;
          .title {
            font-weight: 600;
            font-size: 14px;
            line-height: 28px;
            color: $dark_one;
          }
          .desc {
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: $dark_one;
          }
        }
      }
    }
  }

  .container__two {
    padding: 90px 122px;

    .blocks {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .connection {
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .right {
          color: $border_one;
          font-size: 50px;
          margin-left: -5px;
        }
      }

      .block {
        border: 1px solid $dark_gray;
        box-sizing: border-box;
        border-radius: 16px;
        padding: 30px;
        max-width: 464px;

        .titles {
          display: flex;
          flex-direction: row;
          .icon {
            height: 80px;
            width: 80px;
          }
          .typhography {
            margin-left: 24px;
            padding-right: 46px;

            .title {
              font-weight: 800;
              font-size: 24px;
              line-height: 28px;
              color: $dark_one;
              margin-bottom: 0;
            }
            .desc {
              margin-bottom: 0;
              font-weight: 600;
              font-size: 14px;
              line-height: 24px;
              color: $dark_gray;
            }
          }
        }

        .center__image {
          display: grid;
          place-items: center;
          padding-top: 52px;

          img {
            width: 241px;
            height: auto;
          }
        }

        .bottom__desc {
          margin-top: 35px;
          text-align: center;
          font-weight: 600;
          font-size: 12px;
          line-height: 24px;
          color: $dark_gray;
        }
      }
    }
  }

  .container__three {
    padding: 0 122px;

    .gray__box {
      padding: 78px 50px;
      background: $light_gray;
      border-radius: 16px;
      display: grid;
      grid-template-columns: 46% 54%;

      .left {
        background-color: $white;
        box-shadow: 0px 4px 12px rgba(66, 68, 81, 0.05);
        border-radius: 16px;

        .titles {
          padding-top: 52px;
          padding-left: 30px;

          .title {
            font-weight: 800;
            font-size: 24px;
            line-height: 31px;
            margin-bottom: 0;
            color: $dark_one;
          }

          .desc {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: $dark_gray;
          }
        }

        .content {
          padding: 0 30px;
          margin-top: 24px;

          p {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: $dark_gray;
          }
        }

        .star__box {
          margin-top: 53px;
          margin-bottom: 55px;
          display: grid;
          place-items: center;

          img {
            width: 120px;
            height: auto;
          }
        }
      }

      .right {
        padding-top: 86px;

        .titles {
          .title {
            text-align: center;
            margin-bottom: 0;
            font-weight: 800;
            font-size: 24px;
            line-height: 31px;
            color: $dark_one;
          }

          .desc {
            text-align: center;
            margin-bottom: 0;
            color: $dark_gray;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
          }
        }

        .grid__box {
          margin-top: 24px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 45px;
          padding: 0 130px;

          .box__item {
            background-color: $white;
            border-radius: 50%;
            height: 97px;
            width: 97px;
            display: grid;
            place-content: center;
          }
        }
      }
    }
  }

  .container__four {
    margin-top: 90px;
    margin-bottom: 70px;

    .titles {
      margin-top: 30px;
      text-align: center;

      .title {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: $dark_gray;
        margin-bottom: 0;
      }

      .desc {
        margin-bottom: 0;
        font-weight: 800;
        font-size: 24px;
        line-height: 31px;
        color: $dark_one;
      }
    }

    .review__box {
      margin-top: 47px;
      padding-left: 122px;
      padding-right: 122px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .left {
        padding: 0 15%;
        overflow-y: scroll;
        height: 385px;
        scrollbar-color: #c8cad2 #fff;
        scrollbar-width: thin;
        border-right: 1px solid #adaeb6;

        .user__review__bar {
          background: $white;
          border-radius: 16px;
          padding: 40px;
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          margin-top: 24px;

          &:hover {
            box-shadow: 0px 12px 24px rgba(203, 203, 220, 0.25);
          }

          &:first-child {
            margin-top: 0px;
          }

          .user_img {
            height: 48px;
            width: 48px;
          }
          .user__info {
            display: flex;
            flex-direction: column;
            margin-left: 16px;
            flex: 1;

            .title {
              margin-bottom: 0;
              font-weight: 800;
              font-size: 16px;
              line-height: 20px;
              color: $dark_one;
            }
            .desc {
              margin-bottom: 0;
              font-weight: 600;
              font-size: 14px;
              line-height: 18px;
              color: $dark_gray;
            }
          }
        }
      }
      .right {
        padding-left: 44px;
        padding-right: 33%;

        .ratings {
          display: flex;
          flex-direction: row;
          align-items: center;

          .star {
            color: #ffc122;
            margin: 1px 8px;

            &:first-child {
              margin-left: 0;
            }
          }
        }

        .title {
          font-weight: 800;
          font-size: 20px;
          line-height: 26px;
          color: $dark_one;
          margin-bottom: 0;
        }

        .desc {
          margin-top: 30px;
          color: $dark_one;
          margin-bottom: 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
        }
      }
    }
  }

  @include Mobile_Custom_Portrait {
    .header__call {
      grid-template-columns: 100%;
      padding: 60px 20px;
      padding-bottom: 0;

      .left {
        .header__titles {
          .title {
            font-size: 24px;
            line-height: 31px;
          }

          .desc {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
          }
        }

        .form__row {
          margin-top: 24px;
          flex-direction: column;

          .input__group {
            width: 100%;
            margin-bottom: 16px;
            .text__input {
              width: 100%;
              border-radius: 8px;

              &::placeholder {
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
              }
            }
          }

          .btn.btn-primary {
            padding-top: 20px;
            padding-bottom: 20px;
          }
        }

        .user__row {
          .user__count {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
      .right {
        height: 338px;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 55px;
        margin-bottom: 40px;

        img.bg {
          display: none;
        }

        img.sm {
          width: 378px;
          display: block;
        }
      }

      &::after {
        background: url("./../../images2/home_vector_sm.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .container__one {
      padding: 60px 20px;
      grid-template-columns: 100%;

      .left {
        .heading {
          font-size: 20px;
          line-height: 26px;
          margin-bottom: 0;
        }
        .automations__list {
          .list__bar {
            .box__typhography {
              .title {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 0;
              }
              .desc {
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .right {
        margin-top: 56px;

        .heading {
          font-size: 20px;
          line-height: 26px;
        }

        .campminder__list {
          margin-top: 28px;

          .list__bar {
            margin-top: 18px;

            .desc {
              margin-bottom: 0;
              font-weight: 600;
              font-size: 14px;
              line-height: 24px;
            }
          }
        }

        .current__process {
          margin-top: 32px;
          padding: 30px 20px;
          flex-direction: column;

          .process {
            margin-left: 0;
            margin-top: 18px;

            .title {
              margin-bottom: 0;
              font-weight: 600;
              font-size: 14px;
              line-height: 28px;
            }

            .desc {
              margin-bottom: 0;
              font-weight: 800;
              font-size: 14px;
              line-height: 28px;
            }
          }
        }
      }
    }

    .container__two {
      padding: 40px 20px;
      .blocks {
        flex-direction: column;

        .block {
          padding: 30px 20px;

          .titles {
            .icon {
              width: 60px;
              height: 60px;
            }
            .typhography {
              margin-left: 16px;
              .title {
                font-size: 20px;
              }
            }
          }
          .bottom__desc {
            margin-top: 32px;
            margin-bottom: 0;
          }
        }

        .connection {
          transform: rotate(90deg);
          margin-top: 125px;
          margin-bottom: 125px;
        }
      }
    }

    .container__three {
      padding-top: 10px;
      padding-left: 20px;
      padding-right: 20px;

      .gray__box {
        grid-template-columns: 100%;
        padding-top: 30px;
        padding-left: 34px;
        padding-right: 34px;

        .right {
          padding-top: 40px;
          grid-row: 1;

          .titles {
            .title {
              font-size: 20px;
              line-height: 26px;
            }
            .desc {
              font-weight: 600;
              font-size: 14px;
              line-height: 24px;
            }
          }

          .grid__box {
            margin-top: 30px;
            grid-template-columns: repeat(2, 1fr);
            padding: 0 34px;
          }
        }

        .left {
          margin-top: 80px;

          .titles {
            padding-top: 30px;
            padding-left: 20px;

            .title {
              font-size: 20px;
              line-height: 26px;
            }
            .desc {
              font-size: 14px;
              line-height: 24px;
            }
          }

          .content {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }

    .container__four {
      margin-top: 70px;
      margin-bottom: 0;

      .titles {
        margin-top: 0;

        .desc {
          font-size: 20px;
          line-height: 26px;
        }
      }

      .review__box {
        grid-template-columns: 100%;
        margin-top: 54px;
        padding-left: 0;
        padding-right: 0;

        .right {
          grid-row: 1;
          margin-left: 20px;
          margin-right: 20px;
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 32px;
          border-bottom: 1px solid #adaeb6;

          .ratings {
            margin-top: 9px;
          }

          .title {
            font-size: 18px;
            line-height: 23px;
          }

          .desc {
            font-size: 14px;
            line-height: 28px;
          }
        }

        .left {
          margin-top: 16px;
          padding-top: 16px;
          padding-left: 20px;
          padding-right: 20px;
          border-right: none;
          padding-bottom: 40px;
          margin-bottom: 40px;

          .user__review__bar {
            box-shadow: 0px 12px 24px rgba(203, 203, 220, 0.25);
          }
        }
      }
    }
  }
}
